@mixin wrapper {
  margin: 0 auto;
}

@mixin ul-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin heading {
  font-family: "Courier New", "Courier", monospace;
  letter-spacing: 0.25rem;
}

@mixin btn {
  color: $orange;

  border-color: $orange;

  &:hover {
    color: $dark-pink-red;

    background-color: $orange;
  }
}
