.main {
  width: 100%;
  min-height: calc(100vh - 145px);

  background-color: white;
}

.main__bg {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-position: center;
  background-size: cover;

  &--about {
    min-height: 60vh;
  }
}

.main__title {
  @include heading;

  font-size: 56px;
  color: white;
  text-transform: uppercase;
}
