.main__bg {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background: linear-gradient(
    rgba($orange, 0.5),
    rgba($orange, 0.5),
  );
  background-position: center;
  background-size: cover;
}

.main__title {
  @include heading;
}
