.main__bg {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-position: center;
  background-size: cover;

  &--about {
    min-height: 60vh;
  }
}

.main__title {
  @include heading;
}
